<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Code Snippets</title>
  </head>
  <body>
    <h1>Code Snippets</h1>

    <h3> Filter by language:</h3>
    <form id="search-language" action="/filterlanguage" method="post">
      <select name="filterlanguage">
        <option value="javascript">JavaScript</option>
        <option value="java">Java</option>
        <option value="Ruby">Ruby</option>
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
      </select>
      <br>
      <button type="submit" name="submit">Filter By Language</button>
    </form>

    <br>
    <h3> Filter by tag: </h3>
    <form id="search-tag" action="filtertagform" method="post">
      <input type="text" name="filtertag" placeholder="tags">
      <br>
      <button type="submit" name="submit">Filter By Tag</button>
    </form>
    <br>
    <h3> Ready to add a snippet? </h3>
      <form id="create-new" action="/add" method="post">
        <input type="text" name="title" placeholder="Snippet Title">
        <br>
        <select name="language">
          <option value="javascript">JavaScript</option>
          <option value="java">Java</option>
          <option value="Ruby">Ruby</option>
          <option value="HTML">HTML</option>
          <option value="CSS">CSS</option>
        </select>
        <br>
        <p> Code Snippet </p>
        <textarea rows="4" cols="50" placeholder="Code Snippet..." name="body">
        </textarea>
        <br>
        <p> Details </p>
        <textarea rows="4" cols="50" placeholder="Extra Details (optional)" name="detail">
        </textarea>
        <br>
        <input type="text" name="tag" placeholder="tags">
        <br>

        <button type="submit" name="submit">Submit</button>

      </form>
      <hr>
      <div id="results">
    {{#available}}
      <p> <a href="/snippet/{{id}}">{{title}}</a></p>
      {{/available}}
      </div>
    </div>

  </body>
</html>
